body {
    background-color:black ;
}

#container {
    text-align: center;
}

.game-square {
    display: inline-block;
    border: solid 1px yellow;
    width: 60px;
    height: 40px;
    background-color:black;
}
h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    color: red;
    text-align: center;
}
#scoreboard {
    color: white;
}

.player {
    background-color: red;
}

.scooterOne {
    background-image: url('https://previews.123rf.com/images/katarepsius/katarepsius1711/katarepsius171100252/90401576-green-modern-cartoon-cabriolet-car-isolated-on-transparent-background-sport-car-vector-illustration-.jpg');
}
.scooterTwo {
    background-color: blue;
}
.scooterThree {
    background-color: pink;
}
.scooterFour {
    background-color: yellow;
}


