body {
    background-color:black;
}

#container {
    text-align: center;
}
.game-square {
    display: inline-block;
    border-bottom: dashed 4px yellow;
    width: 60px;
    height: 50px;
    background-color:black;
}
.floor {
    border-bottom: none;
}
.row[row="1"] .game-square{
    border-bottom: none;
}
#goTime {
    text-align: center;
}
h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    color: red;
    text-align: center;
}
h3 {
    text-align: center;
    color: white;
}
#name {
    text-align: center;
}
#stats {
    text-align: center;
}
#stats h2, #stats h3{
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 0px 20px 0px 20px;
}
.deathHouse {
    background-image: url('../images/deathHouse2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    border-bottom: none;
}
.safeHouse {
    background-image: url('../images/safeHouse2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    border-bottom: none;
}
.player {
    background-image: url('../images/player4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}
.scooterOne {
    background-image: url('../images/scooterGif.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterTwo {
    background-image: url('../images/scooterGif2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}
.scooterThree {
    background-image: url('../images/scooterGif.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterFour {
    background-image: url('../images/scooterGif2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}
.scooterFive {
    background-image: url('../images/scooterGif4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterSix {
    background-image: url('../images/scooterGif.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterSeven {
    background-image: url('../images/scooterGif4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterEight {
    background-image: url('../images/scooterGif4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterNine {
    background-image: url('../images/scooterGif4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
a {
    text-decoration: none;
    color: green;
    text-align: center;
}
p {
    text-align: center;
    color: white;
}




