body {
    background-color:white;
}
#container {
    text-align: center;
}
.row {
    margin: 10px;
}
.game-square {
    display: inline-block;
    border-bottom: dotted 4px yellow;
    width: 60px;
    height: 50px;
    background-color:black;
}
h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    color: red;
    text-align: center;
}
#name {
    text-align: center;
}
#scoreboard {
    display: inline;
}
.player {
    background-image: url('../images/player3.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterOne {
    background-image: url('../images/scooterGif.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterTwo {
    background-image: url('../images/scooterGif2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}
.scooterThree {
    background-image: url('../images/scooterGif3.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterFour {
    background-image: url('../images/scooterGif2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}
.scooterFive {
    background-image: url('../images/scooterGif4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterSix {
    background-image: url('../images/scooterGif4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterSeven {
    background-image: url('../images/scooterGif4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}
.scooterEight {
    background-image: url('../images/scooterGif4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}



